/* Анатомія CSS */

/* Селектор - запит (пошук) елемента в HTML файлі до якого підключений данний CSS-файл */
/*
селектор{
	css параметр;
	css параметр;
	css параметр;
	...
	css параметр;
}
*/
/* CSS параметр: */
/* css властивість: значення властивості; */

/* ----------------------------- */

/* Типи селекторів */

/* Селектор зірочка  */
/* Шукаємо (робимо запит) до всіх об'єктів */
*,html body {
	margin: 0;
}
div {
	 color: sienna;
}

ul{
	color: gray;
	
}

.text1{
   color: blue;
}

.color-green {
	color: green;
}

.text2{
	color: gold;
}
.van{
	color: firebrick;
}
h1{
	color: blue;
}
p{
	color: blueviolet;
}


